body {
    background-image: url("../assets/images/tulip2.jpg");
    width: 100%;
    background-position:top;
    background-size: cover;
    height:700px;
    background-repeat: no-repeat;
}

.input-field input {
    border-bottom-color: black;
}